.item1{
    border: 1px;
    background-color: black;
    border-width: 2px 2px;
    color: aliceblue;
}
.item2{
   
    border: 1px;
    background-color: black;
    border-width: 2px 2px;
    color: aliceblue;
}
.item3{
    
    border: 1px;
    background-color: black;
    border-width: 2px 2px;
    color: aliceblue;
}
.container{
    display: flex;
    /* flex-direction: column; */
    /* justify-content: space-around; */
    flex-wrap: wrap;
    align-content: flex-start;
}